
*{
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{

	line-height: 1;

}

section, input, footer, button{

	font-size: 1rem;
	font-weight: 500;
	font-family: 'Space Grotesk', sans-serif;

}

:root{
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
}




.main__cardAndBackground{

	position: relative;
	margin-bottom: 2.5em;

}

/* BACKGOUND IMAGE */

.main__cardAndBackground__backgroundContainer__img{

	height: 240px;
	width: 100%;

}

/* CARDS CONTAINERS IMAGES */

/* CARDS IMAGES */

.main__cardAndBackground__backCard__container__img,
.main__cardAndBackground__frontCard__container__img{
	width: 290px;
}

/* BACK CARD */

.main__cardAndBackground__backCard{
	position: absolute;
	top: 2em;
	right: 5%;

}

.main__cardAndBackground__backCard__container__cardCodeConfirm{
	position: absolute;
	top: 6.5em;
	right: 3em;
	font-size: 0.7rem;
	color: var(--light-grayish-violet);

}

/* FRONT CARD */

.main__cardAndBackground__frontCard{
	position: absolute;
	left: 5%;
	top: 7.6em;


}

/* FRONT CARD - LOGO */

.main__cardAndBackground__frontCard__containerLogo{
	position: absolute;
	top: 1em;
	left: 1em;
}

.main__cardAndBackground__frontCard__containerLogo__logo{

	width: 50px;
}

.main__cardAndBackground__frontCard__data{
	position: absolute;
	top: 6em;
	width: 100%;
	text-align: center;

}

.main__cardAndBackground__frontCard__data__cardNumber{
	letter-spacing: 0.1rem;
	margin-bottom: 1em;
	font-size: 1.2rem;
	color: var(--light-grayish-violet);
	text-transform: uppercase
;

}

.example{
	display: flex;
	justify-content: space-between;
	margin: 0 2.5em;
	font-size: .6rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--light-grayish-violet);
}

.main__cardAndBackground__frontCard__data__name,
.main__cardAndBackground__frontCard__data__date{
	display: inline;
}

@media screen and (min-width: 800px) {

	.main{
		display: flex;
	}

	.main__cardAndBackground__backgroundContainer__img{
		height: 900px;
		max-width: 30em;
	}

	.main__cardAndBackground__frontCard{
		top: 10em;
		left: 15em;
	}

	.main__cardAndBackground__backCard{
		top: 21em;
		left: 20em;
	}

	.main__form{
		position: absolute;
		right: 25%;
		top: 13%;
	}

	.check{
		position: absolute;
		top: 1.9em;
		right: 1.3em;
	}

	.main__cardAndBackground__backCard__container__cardCodeConfirm{
		left: 21em;
	}

}


/* FORM */

.form{
	padding: 2.5em;
}
.main__form{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.form__input-error{
	font-size: 10px;
	color: red;
	margin: 0 0 0.5em .7em;
}

.form__label{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .5px;
}

.form__group-input{
	position: relative;
}

.form__input{
	width: 20em;
	height: 2.5em;
	border: 1px solid var(--light-grayish-violet);
	border-radius: 10px;

}

.containerDateAndCvc{
	position: relative;
}

.form__inputDate{
	position: relative;
	width: 4.8em;
	height: 2.5em;
	border: 1px solid var(--light-grayish-violet);
	border-radius: 10px;
}

.form__validation-state{
	color: red;
	position: absolute;
	right: .3em;
	top: .32em;
}

.yy{
	position: absolute;
	left: 5em;
}



.form__validation-stateDate{
	color: red;
	position: relative;
	right: 1.4em;
	top: .32em;
}

.cancelYy{
	left: .8em;
}

.form__group-inputcvc{
	position: relative;
	left: 11em;
	bottom: 4.4em;
}

.form__inputcvc{
	transform: translate(-12em, 4.3em);
	width: 10em;
	height: 2.5em;
	border: 1px solid var(--light-grayish-violet);
	border-radius: 10px;
}

.form__validation-statecvc{
	position: absolute;
	color: red;
	left: -2.6em;
	top: 3.2em;
}

.form__input-error,
.form__validation-statecvc,
.cancelYy,
.form__validation-stateDate,
.form__validation-state{
	color: transparent;
}

/* BUTTONS */

.form__group-btn-enviar{
	display: flex;
	justify-content: center;
}

.check{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form__btn{
	width: 20em;
	height: 2.5em;
	background-color: var(--very-dark-violet);
	color: var(--white);
	border: none;
	border-radius: 5px;
}

.move{
	position: absolute;
	top: 5em;
}

/* CHECK */

.check__container{
	margin-bottom: 2em;
}

.check__thanks{
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: .5em;
}

.check__info{
	margin-bottom: 1em;
}

.check__container__img{
	margin-top: 1em;
	height: 70px;
}

.display{
	display: none;
}



/* ATTRIBUTION */

footer{
    background-color            : darkgray;
    height                      : 50px;
    display                     : flex;
    justify-content             : center;
    align-items                 : center;
    box-shadow                  : rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width                   : 80%;
    margin                      : 20px auto;
}

footer > .attribution > p{
    margin-bottom               : 5px;
}

.attribution {
    font-family                 : 'Barlow Semi Condensed', sans-serif;
    font-weight                 : 500;
    font-size                   : 13px;
    text-align                  : center;
}

.attribution a {
    color                       : hsl(228, 45%, 44%);
}





